{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Med edit
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            {{ form_start(edit_form) }}
                                {{ form_widget(edit_form) }}
                                <input type="submit" value="Edit" />
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('meds_index') }}">Back to the list</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                        <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
